<!DOCTYPE html>
<html>


<body>
    <div class="container" style="min-height:100% width:80%">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

<h2>The method Attribute</h2>

<p>This form will be submitted using the POST method:</p>

<form action="/{{resource_id}}/addcolumn" method="POST">
    <input type="hidden" id="resource_id" name="resource_id" value={{resource_id}}>
  
  <label for="fieldname">fieldname:</label><br>
  <input type="text" id="fieldname" name="fieldname" value={{fieldname}}><br>

  <label for="fieldtype">fieldtype:</label><br>
  <input type="text" id="fieldtype" name="fieldtype" value={{fieldtype}}><br>


  <input type="submit" value="Submit">
</form>

<p>After you submit, notice that, unlike the GET method, the form values is NOT visible in the address bar of the new browser tab.</p>

</body>
</html>